.ContactUs {
  display: flex;
  justify-content: center;
  height: fit-content;
 
}

.contactus-grid {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.contactus-item {
  width: 25%;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contactus-item-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--maincolor);
}
.contactus-item-detail {
  font-size: 15px;
  margin: 5px;
}
.contactus-item-detail.phone-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.contactus-item-detail .phone {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.contactus-item-detail .phone .contactus-item-icon {
  color: var(--maincolor);
}
.contactus-item-detail-mapbtn {
  width: fit-content;
}
.contactus-item-detail-mapbtn img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactus-item-detail-mapbtn span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .contactus-item {
    width: 100%;
    margin: 10px;
  }
}
