.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}
.cart-items .cart-summary {
  margin: 10px;
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  width: 30%;
  /* background-color: white; */
}
.cart-items .payment-method {
  margin: 10px;
  padding: 20px;
  width: 100%;
  background: white;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  border-radius: 8px;
}
.cart-items .payment-method h3 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: var(--maincolor);
}
.cart-items .payment-method tbody {
  max-width: 100%;
}
.cart-items .payment-method tbody tr td {
  display: flex;
  flex-direction: row;
  background-color: #f6f9fc;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  width: 100%;
}
.cart-items .payment-method tbody tr td input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.cart-items .cart-details {
  width: 70%;
}
.cart-items .cart-checkout{
  margin: 10px;
  padding: 20px;
  width: 100%;
  /* background: white;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  border-radius: 8px; */
}
.cart-items .cart-checkout .checkout-btn {
  width: 100%;
  background-color: var(--maincolor);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cart-items .cart-total {
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background: white;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  border-radius: 8px;
}
.cart-items .cart-total span {
  font-size: 14px;
  font-weight: 600;
  color: var(--maincolor);
}
.cart-list {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  background: white;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.cart-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}
.cart-items-function {
  display: flex;
  flex-direction: row;
}
.cart-items-function .removeCart button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
}
.cart-items .img {
  width: 150px;
  height: 150px;
}
.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  color: grey;
}
.cart-items h4 {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
}
.cart-items h4 .final-price {
  color: var(--maincolor);
  margin-left: 20px;
  font-weight: 600;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}
.cartControl {
  width: 100%;
  margin-top: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: row;
}
.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: var(--maincolor);
}
.desCart {
  background: #f6f9fc;
}
.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--maincolor);
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: var(--maincolor);
}
.no-items {
  color: var(--maincolor);
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}

@media (max-width: 768px) {
  .cart-items {
    padding: 30px 0;
  }
  .cart-items .cart-summary {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }
  .cart-items .cart-details {
    width: 100%;
    margin-bottom: 10px;
  }
  .cart-items .cart-total {
    width: 100%;
    margin: 0px;
    height: 130px;
  }
  .cart-items .payment-method{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
  .cart-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }
  .cart-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-left .img {
    height: 100%;
  }
  .cart-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    /* align-items: center; */
  }
  .removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
  }
  .cart-items-function .removeCart button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: red;
    color: white;
  }
  /* .cart-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */
  .cart-items .cart-details h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }
  .cart-items .cart-details h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    color: grey;
  }
  .cart-items h4 {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .cart-items h4 .final-price {
    color: var(--maincolor);
    margin-left: 0px;
    font-weight: 600;
  }

  .cartControl {
    margin-top: 10px;
  }
  .cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  .incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: var(--maincolor);
  }
  .desCart {
    background: #f6f9fc;
  }
  .cart-total h4 {
    font-size: 15px;
    font-weight: 400;
  }
  .cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--maincolor);
  }
  .cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: var(--maincolor);
  }
  .no-items {
    color: var(--maincolor);
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
  }
}
