.Product-Page {
  height: 100%;
  width: 100%;
  /* background-color: #f2f2f2; */
}
.product-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  /* margin-top: 30px; */
}
.product-top {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 30px;
}
/* Columns */
.product-left-column {
  flex: 1;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 20px;
  max-width: 50%;
}

/* Left Column */
.product-left-column .product-left-column-img {
  flex: 3;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.product-left-column .product-left-column-img img {
  /* width: 100%; */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-color: transparent;

  object-fit: scale-down;
  /* position: absolute; */
  opacity: 0;
  transition: all 0.3s ease;
}

.product-left-column img.active {
  opacity: 1;
}
.product-thumbnails {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 50%;
  overflow: auto;
  overflow-x: scroll;
}
.product-thumbnails div {
  border: 1px solid #ccc;
  border-radius: 10px;
  /* padding: 5px; */
  margin: 5px;
}
.product-thumbnails div:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}
.product-thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 0px;
  cursor: pointer;
  object-fit: scale-down;
  opacity: 0.5;
  transition: all 0.3s ease;
  position: relative;
  background-color: transparent;
}
.product-thumbnails img.active {
  opacity: 1;
}
/* Right Column */
.product-right-column {
  /* background-color: white; */
  /* border-radius: 10px; */
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 100%; */
  width: 35%;
  /* margin-top: 60px; */
}

/* Product Description */
.product-right-column .product-product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.product-right-column .product-product-description span {
  font-size: 14px;
  color: var(--maincolor);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-right-column .product-product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-right-column .product-product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-product-description-top {
  margin: 5px;
}
.product-product-description-top h2 {
  margin: 20px 0px 10px 0;
  font-weight: 300;
  color: #43484d;
}
.product-product-description-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-product-description-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.product-product-description-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: right;
}
.product-product-description-bottom span {
  font-size: 18px !important;
}
/* Product Configuration */
.product-product-configuration {
  /* border-bottom: 1px solid #e1e8ee; */
  margin-bottom: 20px;
  flex: 1;
}
.product-product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939e;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Price */
.product-product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-product-price .product-product-price-discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--maincolor);
  align-items: center;
}
.product-product-price .product-product-price-discount-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-product-price .product-product-price-discount .DiscountOriginalPrice {
  /* font-size: 14px; */
  color: #999;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.product-product-price .product-product-price-discount .DiscountPrice {
  font-size: 24px;
}
.product-bottom {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.product-bottom.en {
  text-align: left;
  justify-content: left;
}
.product-bottom.ar {
  text-align: right;
  justify-content: right;
}
.product-bottom .product-description {
  width: 100%;
}
.product-bottom .product-description h1 {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--maincolor);
}
.product-bottom .product-description p {
  font-size: 18px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  white-space: pre-wrap;
}

.product-product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: var(--maincolor);
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #00a9e0;
}

@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-top {
    flex-direction: column;
    align-items: center;
  }
  .product-left-column {
    margin-right: 0;
    max-width: 100%;
  }
  .product-left-column .product-thumbnails {
    max-width: 100%;
  }
  .product-right-column {
    width: 100%;
    margin-top: 30px;
  }
  .product-bottom {
    width: 100%;
  }
  .product-product-price .product-product-price-discount-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
