/* .User {
  width: 100%;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f2f2f2;
} */
.UserProfile {
  width: 100%;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f2f2f2;
}
.UserOrders {
  width: 100%;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f2f2f2;
}
.UserOrderDetailes {
  width: 100%;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f2f2f2;
}
.user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.user-left {
  flex: 1;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

.user-left .user-left-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.user-left .user-left-top .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  color: var(--maincolor);
}

.user-left .list {
  padding: 5px;
  margin-left: 10px;
  list-style: none;
}
.user-left .list .list-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list-item .left .list-item span {
  font-size: 14px;
  margin: 0px;
  padding: 5px;
}
.user-left .list .list-item:hover {
  background-color: var(--maincolor);
  color: white !important;
}
.user-left .list .list-item .icon {
  margin-right: 10px;
}
.user-logout .logout-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.user-logout .logout-btn:hover {
  background-color: red;
  color: white !important;
}
.user-profile-right {
  flex: 3;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.user-right {
  flex: 3;
  width: 100%;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  height: auto;
}

.user-right .user-right-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.user-right .user-right-top .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  color: var(--maincolor);
}
.user-right-bottom {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  height: fit-content;
}
.UserOrders .user-right-bottom {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.UserOrders .user-right-bottom .order-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* margin: 10px; */
  border-bottom: 1px solid #f2f2f2;
}
.UserOrders .user-right-bottom .order-header .order-header-item {
  flex: 1;
}
.UserOrders .user-right-bottom .order-header .order-header-item.id {
  flex: 2;
}
.UserOrders .user-right-bottom .order-header .order-header-item.view {
  text-align: right;
}
.UserOrders .user-right-bottom .order {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(4, 0, 71, 0.2) 0px 1px 3px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.UserOrders .user-right-bottom .order .order-item {
  flex: 1;
}
.UserOrders .user-right-bottom .order .order-item.id {
  flex: 2;
}
.UserOrders .user-right-bottom .order .order-item.view {
  text-align: right;
  color: var(--maincolor);
}
.UserOrderDetailes .user-right {
  background-color: transparent;
  box-shadow: none;
}
.UserOrderDetailes .user-right .order-products-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}
.UserOrderDetailes .user-right .order-price-detailes {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin-top: 20px;
  padding: 20px;
  width: 50%;
}
.UserOrderDetailes .user-right .order-products-container .top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  background-color: lightgray;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.UserOrderDetailes .order-products-container .products-list {
  padding: 10px;
}
.UserOrderDetailes .order-products-container .products-list-item {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: rgba(4, 0, 71, 0.2) 0px 1px 3px; */
  /* border: 1px solid lightgray; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.UserOrderDetailes
  .order-products-container
  .products-list
  .products-list-item
  .product-img {
  flex: 1;
  max-width: 64px;
  margin-right: 20px;
}
.UserOrderDetailes
  .order-products-container
  .products-list
  .products-list-item
  .product-img
  img {
  width: 100%;
}
.UserOrderDetailes
  .order-products-container
  .products-list
  .products-list-item
  .product-info {
  text-align: left;
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.UserOrderDetailes
  .order-products-container
  .products-list
  .products-list-item
  .product-info
  .product-name {
  flex: 2;
}
.UserOrderDetailes
  .order-products-container
  .products-list
  .products-list-item
  .product-info
  .product-quantity {
  flex: 1;
  text-align: left;
}
.UserOrderDetailes .order-price-detailes-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.user-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
  /* border-bottom: 1px solid #f2f2f2; */
}

.user-info-title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(125, 135, 156);
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.user-info-value {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  /* color: var(--maincolor); */
}
.user-info-value {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}
.user-info-value:focus {
  border: 1px solid var(--maincolor);
  box-shadow: 0px 0px 5px var(--maincolor);
}

@media screen and (max-width: 768px) {
  .UserProfile {
    width: 100%;
    padding: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .UserOrders {
    width: 100%;
    padding: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .UserOrderDetailes {
    width: 100%;
    padding: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .user-container {
    flex-direction: column;
  }
  .user-left {
    margin-bottom: 20px;
    width: auto;
  }
  .user-logout .logout-btn {
    background-color: red;
    color: white !important;
  }
  .user-right {
    padding: 0px;
    margin-bottom: 20px;
    width: auto;
  }

  .user-right-bottom {
    grid-template-columns: 1fr;
  }
  .UserOrders .user-right-bottom .order-header {
    display: none;
  }
  .UserOrders .user-right-bottom .order {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 6px 18px;
    background-color: rgb(255, 255, 255);
  }
  .UserOrders .user-right-bottom .order .order-item {
    flex: 1;
    margin: 5px;
  }
  .UserOrderDetailes
    .user-right
    .products-list
    .products-list-item
    .product-info
    .product-name {
    flex: 1;
    flex-wrap: wrap;
  }
  .UserOrderDetailes
    .user-right
    .products-list
    .products-list-item
    .product-info
    .product-quantity {
    flex: 1;
    text-align: right;
  }
  .UserOrderDetailes .user-right .order-price-detailes {
    width: 100%;
  }
}
