.NewArrivals_background {
  background: #f6f9fc;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NewArrivals_container {
  width: 90%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  /* overflow-x: scroll; */
}
.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

/* My changes */

.NewArrivals_container::-webkit-scrollbar {
  display: none;
}

.NewArrivals-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}
.NewArrivals .box {
  padding: 15px;
  border-radius: 10px;
  transform: scale(0.88);
}
.NewArrivals-grid .box {
  /* background: #fff;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px; */
  cursor: pointer;
  /* padding: 10px; */
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.NewArrivals-grid .box:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.NewArrivals-grid .box .img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.NewArrivals-grid .box .img img {
  /* width: 100%; */
  /* height: 50%; */
  /* object-fit: cover; */

  width: auto;
  object-fit: contain;
  height: 200px;
  max-width: 100%;
  border-radius: 10px;
}
.new-arrivals-name {
  max-width: 100%;
  /* position: absolute; */
  width: 100%;
}
.NewArrivals h4 {
  font-weight: 600;
  font-size: 23px;
}

.new-arrivals-name h4 {
  /* position: relative; */
  max-width: 100%;
  white-space: wrap;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 40px;
}

.NewArrivals span {
  color: var(--maincolor);
  padding-top: 5px;
  font-size: 22px;
  font-weight: 500;
}

.NewArrivals .box:hover {
  box-shadow: 0 0 9px var(--maincolor);
  transition: 0.4s ease-out;
}
.NewArrivals .box img {
  width: 100%;
  height: 100%;
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .heading img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
  }
  .NewArrivals .box {
    padding: 10px;
    border-radius: 10px;
    transform: scale(1);
  }
  .NewArrivals h4 {
    font-weight: 600;
    font-size: 15px;
  }
  .NewArrivals span {
    color: var(--maincolor);
    padding-top: 3px;
    font-size: 13px;
    font-weight: 500;
  }
  .NewArrivals .box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    transition: box-shadow 0.3s;
  }
  .NewArrivals .box img {
    width: 100%;
    height: 100%;
    scale: 1.3;
  }
  .NewArrivals-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
