.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.NewArrivals .box{
  padding: 5px;
  border-radius: 10px;
}
.NewArrivals h4 {
  font-weight: 400;
}
.NewArrivals span {
  color: #2596be;
  font-size: 15px;
  font-weight: 500;
}
.NewArrivals .box:hover{
  box-shadow: #2596be 0px 4px 16px;
  transition: ease-in 0.6s;
}
.NewArrivals .box img {
  width: 100%;
  height: 100%;
}

