footer {
  background-color: var(--maincolor);
  padding: 5rem 0 5rem 0;
  color: #fff;
  position: absolute;
  width: 100%;
}
footer h1 {
  margin-bottom: 30px;
  color: var(--maincolor);
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: var(--maincolor);
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
.pres {
  color: #fff;
  font-size: 40px;
}
.footer-logo img {
  height: 16rem;
  /* margin: 0 0 0 1rem; */
  width: 100%;
  scale: 100%;
  object-fit: scale-down;
}
.footer-box{
  margin-top: 1rem;
  margin-left: 1rem;
}

.footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-left {
  flex: 3;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  text-align: left;
}
.footer-right {
  flex: 1;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  footer {
    background-color: var(--maincolor);
    padding: 0px;
    color: #fff;
    position: absolute;
    width: 100%;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer-right {
    width: 100%;
    text-align: center;
  }
}
