.termspage{
    padding: 30px;
}

.termsandconditions{ 
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.termsandconditions h1{
    font-size: 30px;
    font-weight: 600;
    color: var(--maincolor);
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
   .termspage{
         padding: 10px;
   }
    .termsandconditions{
        padding: 20px;
        width: 100%;
        overflow-wrap: break-word;
    }
    .termsandconditions h1{
        font-size: 20px;
    }

}
