.aboutuspage{
    padding: 30px;
}

.aboutus{
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.aboutus h1{
    font-size: 30px;
    font-weight: 600;
    color: var(--maincolor);
    margin-bottom: 20px;
}