.discount_section {
  background: #f6f9fc;
  padding: 50px 0;
}
.discount_section_heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
}
.discount_card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 30px;
}
.discountPage-icon {
  color: var(--maincolor);
  margin-right: 5px;
}
.discount_card_container {
  width: 100%;
  margin: 5px;
  display: flex;
  overflow: auto;
  overflow-x: scroll;
}
.discount_card_container::-webkit-scrollbar {
  display: none;
}
.discount_card_product {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* grid-gap: 10px; */
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  cursor: pointer;
}

.discount_card_product:hover {
  box-shadow: var(--maincolor) 0px 4px 16px;
  transition: 0.5s;
}
.discount_card_product_img {
  width: auto;
  max-width: 100%;
}
.top_left_popup {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--maincolor);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
.discount_card_product_img img {
  width: auto;
  object-fit: cover;
  height: 200px;
  border-radius: 10px;
}
.discount_card_product_details .discount_card_product_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--maincolor);
  margin-top: 10px;
}
.discount_card_product_price .DiscountPrice .DiscountOriginalPrice {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.discount_card_product_price button {
  background: none;
  color: var(--maincolor);
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.discount_card_product_price button:hover {
  cursor: pointer;
  background-color: var(--maincolor);
  color: #fff;
}
.discount_card_product_price .DiscountPrice {
  display: flex;
  flex-direction: column;
}
.discount_card_product_price .DiscountPrice .DiscountDPrice {
  /* margin-bottom: 5px; */
  color: var(--maincolor);
  padding-top: 5px;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.prev {
  color: var(--maincolor);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.next {
  color: var(--maincolor);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .discount_card_product {
    width: auto;
  }
  .discount_card_product_img img {
    /* width: 20vh; */
    object-fit: cover;
  }
  .discount_card_product_details {
    font-size: 1rem;
  }
  .prev {
    visibility: hidden;
  }
  .next {
    visibility: hidden;
  }
}
